<div id ="img_header">
 <img src='images/cheapr_small.png'/>
</div> 
<div id="result_content">
<%= content_for :js do %>
  var isbn = "<%= @isbn %>";
  var max_weight = "<%=@max_weight%>";
<% end %>

         <% unless @stores.nil? %>
            <div class="stores">
            <h3 class="desch3">Lowest Prices for <i><%= @type %></i> matching <i><%= @search_string %></i></h3>
            <table class="price_list">

             <% @stores.each_with_index do |data,x|  %>

                  <% unless data[:price] == @not_available %>

                                      <% if x == 0 then
                                          maxw = data[:weight]
                                         end
                                      %>
                                  <tr>
                                          <td>
                                            <a rel="nofollow" href="<%= data[:url] %>"><%= data[:source] %></a>
                                          </td>
                                           <td>
                                                <span style="font-family:rupee">R</span> <%= data[:price] %>
                                            </td>
                                            <td  class="td_name">
                                                  <b><%= data[:name] %></b></br>
                                                  <span class="discount"> <%= data[:discount] %> </span>
                                                  <span class="shipping"> <%= data[:shipping] %> </span>

                                            </td>
                                            <td  class="td_author">
                                                <%= data[:author] %>
                                            </td>
                                            <td>
                                                <img src='<%= data[:img] %>' width="64" height="100" class='prod_img'>
                                            </td>
                                          <td>
                                            <ul class="tag_dummy">
                                              <li><a href="#">LOWEST</a></li>
                                            </ul>
                                          </td>
                                        </tr>
                  <% end %>
                <% end %>  
                            </table>
            
                <br />
              </div>
          <% else %>

                <div id="loader">
                <img src='images/9.gif' />
                <strong>Fetching prices from <%= @prices.number_of_stores %> online stores... please be patient!</strong> (This page will be automatically refreshed, please do NOT manually refresh)
                </div>
</div>

<script> 
var auto_refresh = setInterval(
function()
{
//$('#loader').fadeOut('slow').load('/ #result_content').fadeIn("slow");
$("#result_content").load(location.href+" #result_content>*","");
}, 10000);
</script>
     <% end %>
