
<%= content_for :js do %>
  var isbn = "<%= @isbn %>";
<% end %>

         <% unless @stores.nil? %>
                <div class="stores">
                <h3 class="desch3">Lowest Prices</h3>
                <table class="price_list">
                  <% @stores.each do |data|  %>
                  <% unless data[:price] == @not_available %>
                   <tr>
                      <td>
                        <a rel="nofollow" href="<%= data[:url] %>"><%= data[:source] %></a>
                      </td>
                        <td>
                            <span style="font-family:rupee">R</span> <%= data[:price] %>
                        </td>
                        <td>
                              <%= data[:name] %>
                        </td>
                        <td>
                            <%= data[:author] %>
                        </td>

                      <td>
                        <ul class="tag_dummy">
                          <li><a href="#">LOWEST</a></li>
                        </ul>
                      </td>
                    </tr>
                     <% end %> 
                  <% end %>
                </table>
                <br />
              </div>
          <% else %>
                <div id="loader">
                <img src='images/ajax-loader.gif' />
                <strong>Fetching prices from <%= @prices.number_of_stores %> online stores... please be patient!</strong> (This page will be automatically refreshed, please do NOT manually refresh)
                </div>
 <% content_for :js do %>
 var auto_refresh = setInterval(
                                function ()
                                 {
                                    window.location.reload()
                                 }, 30*1000); 
    <% end %>
<% end %>
