
<% content_for :title do %>
    - price search engine.
<% end %>



<% content_for :header do %>
<div id ="img_header">
 <img src='images/cheapr.png'/>
</div> 
</br>

 <% end %>
<div class="searchwrapper drop-shadow curved curved-hz-1">
  <div class="searchwrapper-inner">
    <div class="searchwrapper-inner-border">
          <%= form_tag(view_path, :method => "get", :id=>"searchfrm" , :remote=>true) do %>
              <%= text_field_tag(:q,nil,:class=> "inputquery") %>
              <%= hidden_field_tag 'search_type', 'books' %>
	      <a id="search_link" href="#" class="btn search">Search</a>
              <span class="buttonwrapper">
                <%= submit_tag("Search", :class=>"searchsubmit", :id=>"searchsubmit_btn") %>
              </span> <!-- 
                    <div id="search_btn">
                      <a href="#" id="searchall" class="primary button pill button">Everything</a> 
                      <a href="#" id="searchbooks" class="primary pill button">Books</a>
                      <a href="#" id="searchmovies" class="pill button">Movies</a>
                      <a href="#" id="searchmobiles" class="pill button">Mobiles</a> 
                    </div>  -->
                    <dl id="sample" class="dropdown">

                            <% if cookies[:country] == nil %>
                                  <dt><a id="flag" href="#"><span><img src='images/flags/India.png'></span></a></dt>
                            <%else%>
                                  <dt><a id="flag" href="#"><span><img src='images/flags/<%=cookies[:country]%>.png'></span></a></dt>
                            <%end%>
                            <div class="search_wrap">
                            <div class="tab oFlowH">
                              <a id="searchbooks" class="left searchTypeLink active" onfocus="blur()" href="#">Books</a>
                              <span class="left">|</span>
                              <a id="searchmobiles" class="left searchTypeLink" onfocus="blur()" href="#">Mobiles</a>
                              <span class="left">|</span>
                              <a id="searchmovies" class="left searchTypeLink" onfocus="blur()" href="#">Movies</a>
                              <span class="left">|</span>
                              <a id="searchcamera" class="left searchTypeLink" onfocus="blur()" href="#">Cameras</a>
                              <span class="left">|</span>
                              <a id="searchelectronics" class="left comingsoon searchTypeLink" href="#">Electronics</a>
                              <span class="left">|</span>
                              <a id="searchcomputers" class="left comingsoon searchTypeLink" href="#">Computers</a>
                              </div> 
                            <dd>
                                <ul>
                                    <li><a href="#">India<img class="flag" src="images/flags/India.png" alt="" /><span class="value">IN</span></a></li>
                                    <li><a href="#">USA<img class="flag" src="images/flags/United-States.png" alt="" /><span class="value">US</span></a></li>
                                </ul>

                            </dd>
                     </dl>

          <% end %>
    </div>  
  </div>
</div>
<div class="textwrapper">
Shopping is tricky. Online Shopping more so. We want to give you the best prices. We search prices from <span id="india-stores">many</span>  online stores in India (other countries coming soon). 
</div>
<!--
<div id="slideshow">
    <div id="slideshow-reel">
        <div class="slide">
        <p>I just purchased a Canon EOS 550D camera. I looked for good online deals and kept searching on various shops. Never knew <strong>Cheapr</strong> existed or I would have saved many hours.
        Incredible work guys...very simple and accurate tool</p>
        <p style="text-align: right"><i>Kunal M. Bangalore</i></p>
        </div>
        
        <div class="slide">
        <p>I just purchased a Canon EOS 550D camera. I looked for good online deals and kept searching on various shops. Never knew <strong>Cheapr</strong> existed or I would have saved many hours.
        Incredible work guys...very simple and accurate tool</p>
        <p style="text-align: right"><i>Meghna A. Bangalore</i></p>
        </div>
        
        <div class="slide">
        <p>I just purchased a Canon EOS 550D camera. I looked for good online deals and kept searching on various shops. Never knew <strong>Cheapr</strong> existed or I would have saved many hours.
        Incredible work guys...very simple and accurate tool</p>
        <p style="text-align: right"><i>Niraj K. London</i></p>
        </div>
        
        <div class="slide">
            <h1>Slide 4</h1>
        </div>
        
        <div class="slide">
            <h1>Slide 5</h1>
        </div>
        
        <div class="slide">
            <h1>Slide 6</h1>
        </div> 
    </div>
    
    <a href="#" id="slideshow-left" class="slideshow-arrow"></a>
    <a href="#" id="slideshow-right" class="slideshow-arrow"></a>
    
    <div id="slideshow-nav">
        <a href="#" class="nav-item">
            <span class="nav-item-line nav-item-line-hidden"></span>
            <span class="nav-item-dot"></span>
            <span class="nav-item-line"></span>
        </a>
        
        <a href="#" class="nav-item">
            <span class="nav-item-line"></span>
            <span class="nav-item-dot"></span>
            <span class="nav-item-line"></span>
        </a>
        
        <a href="#" class="nav-item">
            <span class="nav-item-line"></span>
            <span class="nav-item-dot"></span>
            <span class="nav-item-line"></span>
        </a>
        
        <a href="#" class="nav-item">
            <span class="nav-item-line"></span>
            <span class="nav-item-dot"></span>
            <span class="nav-item-line"></span>
        </a>
        
        <a href="#" class="nav-item">
            <span class="nav-item-line"></span>
            <span class="nav-item-dot"></span>
            <span class="nav-item-line"></span>
        </a>
        
        <a href="#" class="nav-item">
            <span class="nav-item-line"></span>
            <span class="nav-item-dot"></span>
            <span class="nav-item-line nav-item-line-hidden"></span>
        </a>
        
        <span id="active-nav-item">
            <span class="active-nav-item-inner"></span>
        </span>
    </div>
</div> -->
