
<% content_for :title do %>
    - price search engine.
<% end %>



<% content_for :header do %>

</br>

 <% end %>
<div class="searchwrapper drop-shadow curved curved-hz-1">
  <div class="searchwrapper-inner">
    <div class="searchwrapper-inner-border">
          <%= form_tag(view_path, :method => "get", :id=>"searchfrm" , :remote=>true) do %>
              <%= text_field_tag(:q,nil,:class=> "inputquery") %>
              <%= hidden_field_tag 'search_type', 'books' %>
	      <a id="search_link" href="#" class="btn search">Search</a>
              <span class="buttonwrapper">
                <%= submit_tag("Search", :class=>"searchsubmit", :id=>"searchsubmit_btn") %>
              </span> <!-- 
                    <div id="search_btn">
                      <a href="#" id="searchall" class="primary button pill button">Everything</a> 
                      <a href="#" id="searchbooks" class="primary pill button">Books</a>
                      <a href="#" id="searchmovies" class="pill button">Movies</a>
                      <a href="#" id="searchmobiles" class="pill button">Mobiles</a> 
                    </div>  -->
                    <dl id="sample" class="dropdown">

                            
                            <div class="search_wrap">
                            <div class="tab oFlowH">
                              <a id="searchbooks" class="left searchTypeLink active" onfocus="blur()" href="#">Books</a>
                              <span class="left">|</span>
                              <a id="searchmobiles" class="left searchTypeLink" onfocus="blur()" href="#">Mobiles</a>
                              <span class="left">|</span>
                              <a id="searchmovies" class="left searchTypeLink" onfocus="blur()" href="#">Movies</a>
                              <span class="left">|</span>
                              <a id="searchcamera" class="left searchTypeLink" onfocus="blur()" href="#">Cameras</a>
                              <span class="left">|</span>
                              <a id="searchcomputers" class="left searchTypeLink pulsate" onfocus="blur()" href="#">Computers</a>
                              </div> 
                         
                     </dl>

          <% end %>
    </div>  
  </div>
</div>

<div class="textwrapper">
Searching best prices from so many online shopping sites is very tricky - Cheapr brings you cheapest deals from <span id="india-stores">many</span> online stores in India and makes it very easy for you to chose the best deals. <a href="/about">Read more...</a></br>
<div class="clear"></div>
<!--<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=243916848967812&amp;xfbml=1"></script><fb:like href="http://cheapr.me/" send="false" layout="button_count" width="80" show_faces="false" font=""></fb:like> -->
</div>


<div class="top_searches">
    <div class="fl grid_2 column" >
    <p class="top_p">Top Books</p>
    <%
    @top_s = Topsearch.all_in(type: ['books']).desc(:cnt).limit(10)
    @top_s.each do |s| %>	
        <div class="div_top_books">  
	    <a class="link-highlight ellipsis_text" href="view?utf8=✓&q=<%= s[:query] %>&search_type=<%= s[:type] %>&commit=Search"><%= dots(s[:query]) %></a></br>
        </div> 
    <%end %>
    
    </div>

    <div class="fl grid_2 column">
    <p class="top_p">Top Mobiles</p>
    <%
    @top_s = Topsearch.all_in(type: ['mobiles']).desc(:cnt).limit(10)
    @top_s.each do |s| %>	
        <div class="div_top_mobiles">  
	    <a class="link-highlight ellipsis_text" href="view?utf8=✓&q=<%= s[:query] %>&search_type=<%= s[:type] %>&commit=Search"><%= dots(s[:query]) %> </a></br>
        </div>
    <%end %>
    </div>

    <div class="fl grid_2 column">
    <p class="top_p">Top Cameras</p>
    <%
    @top_s = Topsearch.all_in(type: ['cameras']).desc(:cnt).limit(10)
    @top_s.each do |s| %>	
        <div class="div_top_cameras">
	    <a class="link-highlight ellipsis_text" href="view?utf8=✓&q=<%= s[:query] %>&search_type=<%= s[:type] %>&commit=Search"><%= dots(s[:query] )%></a></br>
        </div> 
    <%end %>
    </div>
    
    <div class="fl grid_2 column">
    <p class="top_p">Top Movies</p>

    <%
    @top_s = Topsearch.all_in(type: ['movies']).desc(:cnt).limit(10)
    @top_s.each do |s| %>	
        <div class="div_top_movies">
        <a class="link-highlight ellipsis_text" href="view?utf8=✓&q=<%= s[:query] %>&search_type=<%= s[:type] %>&commit=Search"><%=dots( s[:query]) %></a></br>
        </div>
    <%end %>
    </div>
<div class="fl grid_2 column" >
    <p class="top_p">Recent</p>
    <%
    @top_s = Recentsearch.all_in().desc(:ts).limit(10)
    @top_s.each do |s| %> 
        <div class="div_top_books">  
      <a class="link-highlight ellipsis_text" href="view?utf8=✓&q=<%= s[:query] %>&search_type=<%= s[:type] %>&commit=Search"><%= dots(s[:query]) %></a>&nbsp;
        </div> 
    <%end %>
    
    </div>
    
            
</div>
<div class="clear"></div>


<div id="slideshow" class="container_12">
    <p class="top_p">Your Views</p>
        <div id="slideshow-reel">
            <div class="slide">
            <p>I just purchased a Canon EOS 550D camera. I looked for good online deals and kept searching on various shops. Had I known <b class="highlightb">Cheapr</b> existed, I would have saved many hours. Incredible work guys. - <i>Kunal M. Bangalore</i></p>
            </div>
            
            <div class="slide">
            <p>I usually buy books every month. I used to open 3-4 online stores like flipkart and infibeam to check prices and order books. With <b class="highlightb">Cheapr</b> I can search best prices from 15 stores ! Great idea and a brilliant site. - <i>Meghna A. Bangalore</i></p>
            </div>
            
            <div class="slide">
            <p>Come on..nobody thought of this earlier? <b class="highlightb">Cheapr</b> always gets the best prices and great bargains.- <i>Dhruv M. Mumbai</i></p>
            </div>

            <div class="slide">
            <p>Who goes to so many sites to hunt for the cheapest bargain? Well, I don't anymore. <b class="highlightb">Cheapr</b> really changed the way I purchase things online. - <i>Niraj K. London</i></p>
            </div>

            <div class="slide">
            <p>Being a student, I need to buy cheap books almost every month. One of my friend told me about <b class="highlightb">cheapr</b> and I was amazed. I am still amazed :) - <i>Chintan P. Ahmedabad</i></p>
           </div>
        </div>

    </div>
</div>


	



