<div id="pagename" style="display: none">home</div>
<% content_for :title do %>
    - price search engine.
<% end %>
<% content_for :header do %>
</br>
<% end %>
<div class="searchwrapper drop-shadow curved curved-hz-1">
  <div class="searchwrapper-inner">
    <div class="searchwrapper-inner-border">
          <%= form_tag(view_path, :method => "get", :id=>"searchfrm" , :remote=>true) do %>
              <%= text_field_tag(:q,nil,:class=> "inputquery") %>
              <%= hidden_field_tag 'search_type', 'books' %>
              <%= hidden_field_tag 'last_search_type', 'books' %>
        
      <a id="search_link" href="#" class="btn search">Search</a>
              <span class="buttonwrapper">
                <%= submit_tag("Search", :class=>"searchsubmit", :id=>"searchsubmit_btn") %>
              </span> <!-- 
                    <div id="search_btn">
                      <a href="#" id="searchall" class="primary button pill button">Everything</a> 
                      <a href="#" id="searchbooks" class="primary pill button">Books</a>
                      <a href="#" id="searchmovies" class="pill button">Movies</a>
                      <a href="#" id="searchmobiles" class="pill button">Mobiles</a> 
                    </div>  -->
                    <dl id="sample" class="dropdown">

                            
                            <div class="search_wrap">
                            <div class="tab oFlowH">
                              <a id="searchbooks" class="left searchTypeLink active" onfocus="blur()" href="#">Books</a>
                              <span class="left">|</span>
                              <a id="searchmobiles" class="left searchTypeLink" onfocus="blur()" href="#">Mobiles</a>
                              <span class="left">|</span>
                              <a id="searchmovies" class="left searchTypeLink" onfocus="blur()" href="#">Movies</a>
                              <span class="left">|</span>
                              <a id="searchcamera" class="left searchTypeLink" onfocus="blur()" href="#">Cameras</a>
                              <span class="left">|</span>
                              <a id="searchcomputers" class="left searchTypeLink pulsate" onfocus="blur()" href="#">Computers</a>
                              </div> 
                         
                     </dl>

          <% end %>
    </div>  
  </div>
</div>

<div class="textwrapper">
Cheapr brings you cheapest deals from <span id="india-stores" title="We search Flipkart, Infibeam, eBay, Rediff, IndiaPlaza, LetsBuy, Pustak, Crossword, A1Books, NBCIndia, BookAdda, TradeUs, Jumadi, HomeShop, FutureBazaar and we are adding new stores">many</span> online stores in India and makes it very easy for you to compare prices and select the best deals. </br>


<!--a href="/about">Read more about us</a> or <a href="http://blog.cheapr.me">Check out our blog.</a></br -->
<div class="clear"></div>
<!--<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=243916848967812&amp;xfbml=1"></script><fb:like href="http://cheapr.me/" send="false" layout="button_count" width="80" show_faces="false" font=""></fb:like> -->
</div>


<div class="top_searches">
    <div class="fl grid_2 column" >
    <p class="top_p">Top Books</p>
    <%

    @logger= Logger.new(STDOUT)
    @top_s = Topsearch.where(type: 'books').desc(:cnt).limit(10)
    if !@top_s.nil? then
        @top_s.each do |s|
             #@logger.info("----s[query] - #{s[:query]}")
             #@logger.info("----s[query] - #{s[:type]}")
             %>
            <div class="div_top_books">  
    	    <a class="link-highlight ellipsis_text" href="view?utf8=✓&q=<%= s[:query] %>&last_search_type=<%=params[:search_type]%>&search_type=<%= s[:type] %>&commit=Search"><%= dots(s[:query]) %></a></br>
            </div> 
        <%end 
     end%>
    
    </div>

    <div class="fl grid_2 column">
    <p class="top_p">Top Mobiles</p>
    <%
    @top_s = Topsearch.where(type: 'mobiles').desc(:cnt).limit(10)
    if !@top_s.nil? then
        @top_s.each do |s| %>	
            <div class="div_top_mobiles">  
    	    <a class="link-highlight ellipsis_text" href="view?utf8=✓&q=<%= s[:query] %>&last_search_type=<%=params[:search_type]%>&search_type=<%= s[:type] %>&commit=Search"><%= dots(s[:query]) %> </a></br>
            </div>
        <%end 
     end%>
    </div>

    <div class="fl grid_2 column">
    <p class="top_p">Top Cameras</p>
    <%
    @top_s = Topsearch.where(type: 'cameras').desc(:cnt).limit(10)
    if !@top_s.nil? then
        @top_s.each do |s| %>	
            <div class="div_top_cameras">
          <a class="link-highlight ellipsis_text" href="view?utf8=✓&q=<%= s[:query] %>&last_search_type=<%=params[:search_type]%>&search_type=<%= s[:type] %>&commit=Search"><%= dots(s[:query] )%></a></br>
            </div> 
        <%end 
     end%>
    </div>
    
    <div class="fl grid_2 column">
    <p class="top_p">Top Movies</p>

    <%
    @top_s = Topsearch.where(type: 'movies').desc(:cnt).limit(10)
    if !@top_s.nil? then
        @top_s.each do |s| %>	
            <div class="div_top_movies">
            <a class="link-highlight ellipsis_text" href="view?utf8=✓&q=<%= s[:query] %>&last_search_type=<%=params[:search_type]%>&search_type=<%= s[:type] %>&commit=Search"><%=dots( s[:query]) %></a></br>
            </div>
        <%end 
    end%>
    </div>
<div class="fl grid_2 column" >
    <p class="top_p">Recent</p>
    <%
    @top_s = Recentsearch.all_in().desc(:ts).limit(10)
    if !@top_s.nil? then
      @top_s.each do |s| %> 
          <div class="div_top_books">  
        <a class="link-highlight ellipsis_text" href="view?utf8=✓&q=<%= s[:query] %>&last_search_type=<%=params[:search_type]%>&search_type=<%= s[:type] %>&commit=Search"><%= dots(s[:query]) %></a>&nbsp;
          </div> 
      <%end 
    end%>
    
    </div>
    
            
</div>
<div class="clear"></div>

        <div class="image_carousel">
          <div id="foo3" class="showcase">
             <% if @top_book_info %>
               <div class="showcase-slide">
                  <div class="showcase-content">
                  <h3 class="top_p">Best Selling Books</h3>
                    <% @top_book_info.each_with_index do |data,x|  %>
                    <span class="best_books">
                        <a title="<%= data[:name] %>" href="/view?utf8=%E2%9C%93&q=<%=data[:name]%>&last_search_type=&search_type=books&commit=Search"><img src="<%= data[:img] %>"/></a>
                    </span>
                    <% end %>
                   </div>
              </div>
             <% end %>

             <% if @top_mobile_info %>
               <div class="showcase-slide">
                   <div class="showcase-content">
                   <h3 class="top_p">Best Selling Mobiles</h3>
                   <% @top_mobile_info.each_with_index do |data,x|  %>
                     <span class="best_books">
                       <a title="<%= data[:name] %>" href="/view?utf8=%E2%9C%93&q=<%=data[:name]%>&last_search_type=&search_type=mobiles&commit=Search"><img src="<%= data[:img] %>"/></a>
                     </span>
                   <% end %>
                   </div>   
                </div>
              <% end %>

              <% if @top_camera_info %>
                <div class="showcase-slide">
                    <div class="showcase-content">
                    <h3 class="top_p">Best Selling Cameras</h3>
                    <% @top_camera_info.each_with_index do |data,x|  %>
                      <span class="best_books">
                        <a title="<%= data[:name] %>" href="/view?utf8=%E2%9C%93&q=<%=data[:name]%>&last_search_type=&search_type=cameras&commit=Search"><img src="<%= data[:img] %>"/></a>
                      </span>
                    <% end %>
                    </div>
                </div>
              <% end %>

              <% if @top_movie_info %>
                <div class="showcase-slide">
                    <div class="showcase-content">  
                    <h3 class="top_p">Best Selling Movies</h3>
                    <% @top_movie_info.each_with_index do |data,x|  %>
                      <span class="best_books">
                        <a title="<%= data[:name] %>" href="/view?utf8=%E2%9C%93&q=<%=data[:name]%>&last_search_type=&search_type=movies&commit=Search"><img src="<%= data[:img] %>"/></a>
                      </span>
                    <% end %>
                    </div>
                </div>
               <% end %>
          </div>        

              
                  <!--a class="prev" id="foo3_prev" href="#"><span>prev</span></a>
                  <a class="next" id="foo3_next" href="#"><span>next</span></a -->
      </div>
</div>
