<!doctype html>  

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Amaranth:400,400italic&v2' rel='stylesheet' type='text/css'>
  
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="google-site-verification" content="qS7bEZYjJ49mrSdT1J5W07zYaQrc2wRInjoJp5Vhi7U" />
  <!-- encoding must be specified within the first 512 bytes www.whatwg.org/specs/web-apps/current-work/multipage/semantics.html#charset -->

  <!-- meta element for compatibility mode needs to be before all elements except title & meta msdn.microsoft.com/en-us/library/cc288325(VS.85).aspx --> 
  <!-- Chrome Frame is only invoked if meta element for compatibility mode is within the first 1K bytes code.google.com/p/chromium/issues/detail?id=23003 -->    


    <title>Cheapr: Makes online shopping easy for you in India</title>
    <meta name="tags" content="India, Shopping, Price, Bargain, Search, Best, Online Shopping">
    <meta name="Keywords" content="buy books online, online book store, online shopping india, online shopping website, online shopping store" />
    <meta name="Description" content="Cheapr.me Online price comparison to buy Books online, Mobiles, Cameras, Games, DVDs online. Free Shipping in India. Pay Cash on Delivery. Best bookstore to buy books online. Online Shopping Website to buy books, mobile phones, electronics in India. Online book store, mobile store, game store, music store in India." />
    <meta name="author" content="">
    <meta name="google-site-verification" content="AH3-RA9Zbk7cLWP5jAZUGCixXSbdMaZwxmaAsysLySs" />
    <meta property="og:title" content="Cheapr" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://cheapr.me/" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="Cheapr" />
    <meta property="fb:admins" content="500716547" />
  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%#
  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="css/style.css?v=2">
  %>

  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">  -->
  <!--//41 --> 
  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="javascripts/js/libs/modernizr-1.6.min.js"></script>

  <%= csrf_meta_tag %>
  
       
</head>

<body>
<div id="stripe"></div>
<header id="header">
	<div id="header-top-center" class="center-container">
	<div class="grid_5 column">
		<a class="home-button" title="Cheapr-the best way to get cheap prices." href="/?last_search_type=<%=params[:search_type]%>">
		   <img id="logo" alt="" src="/images/cheapr_logo_sep_3.png">
        </a>
	</div>	
	<div class="clear"></div>
	</div>
</header>
<div class="divider-bar"></div>
<div id="container_wrap">
  <div id="container" class="container_12">
    <header class="grid_12">
      <%= yield(:header) %>
    </header>
    <div class="clear"></div>
    <div id="main" role="main" class="grid_12">
      <%= yield %>
    </div>
    <div class="clear"></div>    
  </div> <!--! end of #container  -->
</div>
<!--  
<div class="footer">
  <div class="footer_container">
    <div class="disclaimer">
  <p>While we try to get you the best possible deals, we are not directly associated with any of the online stores. We don't control how these stores maintain their catalogs. It is possible that some of the results you see are used items or even PDF or e-books. Please be careful when you choose a deal and take proper care in finalizing the purchase.</p>
    </div>
  </div>
-->  
        <div class="clear"></div>
</div>


  <!-- Javascript at the bottom for fast page loading -->

  <%# NOTE jQuery library will be added by jQuery-Rails gem
  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="javascripts/js/libs/jquery-1.4.4.js"%3E%3C/script%3E'))</script>
  %>
  
  
  <!-- scripts concatenated and minified via ant build script-->
  <script src="javascripts/js/plugins.js"></script>
  <script src="javascripts/js/script.js"></script>
  <!-- end concatenated and minified scripts-->
  
  
  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->


  

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>

  <%= include_stylesheets :common, :media => 'all' %>
  <%= include_javascripts :workspace %>
  <script src="http://code.google.com/apis/gears/gears_init.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>  
    
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24456809-1']);
  _gaq.push(['_setDomainName', '.cheapr.me']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>




</body>
</html>
